body{
    width: 60%;
    justify-content: center;
    margin: auto;
    /* background-color: antiquewhite; */
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(228, 228, 228) 100%);
}
.columns{
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 10px;
    /* background-color: red; */
    /* border: 1px solid red; */
}

.column2{
    /* background-color: orange; */
    margin: auto;
    /* border: 1px solid red; */
}

.header{
    color: #000;
    font-family: Ink Free;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1{
    text-align: center;
}

.text{
    font-size: 30px;
    text-align: center;
}

.AboutMe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.image{
    width: 230px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    zoom: 133%;
}

svg{
    padding: 10px;
    width: 30px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icon{
    padding: 10px;
    width: 30px;
}

.info p{
    margin-top: 0;
}

.info2{
    /* background-color: blue; */
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.info2 p{
    line-height: 10px;
}
.info2 p a{
    text-decoration: none;
    color: #000;
    
}

.subtitle{
    display: flex;
    justify-content: center;
}

.subtitle-text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle p{
    font-size: 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-subtitle{
    width: 30px;
    margin-right: 10px;
}

.info-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p a{
    text-decoration: none;
}

.last{
    text-align: center;
    margin-bottom: 100px;
}